.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 1rem;
  max-width: 500px;
  aspect-ratio: 1/1;
  overflow: auto;
  scroll-snap-type: both mandatory;
}
.wrapper img {
  scroll-snap-align: center;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
