/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #090909;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 50px;
}

/* General styles end */
.progress-bar {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	color: #fff;
	outline: 2px solid #7effb2;
	outline-offset: -1px;
}
.progress-bar::after,
.number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.progress-bar::after {
	content: '';
	width: 110px;
	height: 110px;
	border-radius: inherit;
	outline: inherit;
}
.number {
	font-size: 21px;
	font-weight: bold;
}
.circle {
	stroke-dasharray: 410;
	stroke-dashoffset: 410;
	transform: rotate(-90deg);
	animation: bar-fill 8s linear forwards;
}
@keyframes bar-fill {
	100% {
		stroke-dashoffset: 0;
	}
}
