/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #090909;
    height: 100vh;
    display: grid;
    place-items: center;
}

/* General styles end */
.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    background-color: #7effb2;
    background-image: linear-gradient(90deg, #2cd9ff, #7effb2);
    color: #090909;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    border-radius: 0.8rem;
    isolation: isolate;
}
.button::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(90deg, #7effb2, #2cd9ff);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 1s;
}
.button:hover::before {
    opacity: 1;
}
.button-icon {
    display: inline-flex;
    font-size: 1.6rem;
    padding-right: 0.5rem;
    border-right: 2px solid #090909;
}
.button-icon i {
    margin-block: auto;
}
