/* General styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: #1a1d24;
	display: grid;
	place-content: center;
	height: 100vh;
	padding: 5px;
	color: #fff;
}
/* General styles end */
#checkbox {
	display: none;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 31px;
	border: 2px solid #0561ee;
	border-radius: 30px;
	cursor: pointer;
}
.switch > * {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.switch__ball {
	left: 1px;
	z-index: 10;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #0561ee;
	border-radius: 50%;
	transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
}
.switch__sun {
	left: 5px;
}
.switch__moon {
	right: 5px;
}
#checkbox:checked + .switch__ball {
	transform: translate(29px, -50%);
}
