/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #1a1d24;
	color: #fff;
	display: grid;
	place-items: center;
	overflow: hidden;
}
/* ======================== */
.search {
	display: inline-flex;
	align-items: center;
	background-image: linear-gradient(45deg, #0561ee, #18e0b5);
	color: #fff;
	padding: 10px;
	border-radius: 4px;
}
.search :is(input, button) {
	background: transparent;
	color: inherit;
	border: none;
	outline: none;
}
.search__input {
	width: 0;
	transition: width 0.5s;
}
.search__button {
	display: grid;
	place-items: center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: color 0.25s;
}
.search__button:hover {
	color: #e3e3e3;
}
.search:focus-within input {
	width: 200px;
}
::placeholder {
	font: inherit;
	color: #e3e3e3;
}
