/* ============================ */
/* IGNORE */
/* ============================ */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Satoshi variable', sans-serif;
  display: grid;
  place-items: center;
  background-color: #000;
}
/* ============================ */
.card-group {
  max-width: 1260px;
  display: flex;
  column-gap: 16px;
  padding: 50px;
  overflow-x: scroll;
}
.card {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  height: 300px;
  background-image: linear-gradient(85deg, #434343, #262626);
  padding: 32px;
  box-shadow: -5px 0 16px 32px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: transform 250ms;
}
.card:not(:first-child) {
  margin-left: -130px;
}
.card:hover {
  transform: translate(-8px, -16px) rotate(3deg);
}
.card:hover ~ .card {
  transform: translateX(130px);
}
.card-date {
  display: block;
  color: #777777;
  margin-bottom: 3px;
  font-size: 14px;
}
.card-date strong {
  color: #d4d4d4;
}
.card-title {
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}
.card-footer{
  margin-top: auto;
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #fff;
}
.card-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.card-image img{
  display: block;
  width: 100%;
}