/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #090909;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 50px;
	color: #fff;
}
/* General styles end */
.wrapper {
	position: fixed;
	inset: 0;
	z-index: 9999;
	background-color: #fff;
	display: grid;
	place-items: center;
	transition: opacity 0.25s,
		visibility 1s;
}
.fade {
	opacity: 0;
	visibility: hidden;
}
